# Credenciales
.env

# Entornos virtuales
.venv/

# Datos
# data/input/ # Como son publicos, no es necesario ignorarlos
data/output/

# Logs
logs/

# Python
__pycache__/
*.pyc
*.pyo
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store
